body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.alert {
    margin-top: 10px;
}

.form-group {
    width: 40%;
}

.table {
    margin-top: 10px;
}

.navbar-right {
    margin-right: 0px;
}